@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.overflow-y-scroll::-webkit-scrollbar {
  width: 11px;
}
.overflow-y-scroll {
  scrollbar-width: thin;
  scrollbar-color: #fff #000;
}
.overflow-y-scroll::-webkit-scrollbar-track {
  background: #000;
}
.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 3px solid #000;
}